Flask==3.1.0
Flask-Cors==5.0.0
Flask-JWT-Extended==4.7.1
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0


SQLAlchemy==2.0.36
psycopg2-binary==2.9.10  


bcrypt==4.3.0
cryptography==43.0.3
pyjwt==2.10.1


requests==2.32.3
httpx==0.28.1


supabase==2.13.0
gotrue==2.11.4
realtime==2.4.1
storage3==0.11.3
postgrest==0.19.3


gunicorn==23.0.0  
python-dotenv==1.0.1 
gevent==24.2.1
greenlet==3.1.1
alembic==1.15.1
